<div class="modal-header dialog-header-confirm">
  <button type="button" class="close" ng-click="close()">&times;</button>
  <h4 class="modal-title" ng-bind-html="header">{{ opts.header }}</h4>
</div>
<div class="modal-body" ng-bind-html="msg">{{opts.msg}}</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="ok()">Yes</button>
  <button type="button" class="btn btn-default" ng-click="close()">No</button>
</div>
