<div>
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="{{alert.duration}}" close="closeAlert($index)">{{ alert.msg }}</alert>
</div>
<div class="header">
  <h1>Welcome to Robot Toy</h1>

</div>

<div>
  <div class="row form-inline">
    <div class="form-group col-md-6 ">
      <input type="text" class="form-control" placeholder="Enter robot name" ng-model="robot.name">
      <button type="button" class="btn btn-primary btn-sm" ng-click="createRobot()">Create</button>
    </div>
    <div class="form-group col-md-6 placement">
      <input placeholder="x coordinate" class="form-control" type="text" ng-model="robot.coordX">
      <input placeholder="y coordinate" class="form-control" type="text" ng-model="robot.coordY">
      <input placeholder="angle" class="form-control" type="text" ng-model="robot.direction">
      <button type="button" class="btn btn-success btn-sm" ng-click="placeRobot()">Place robot</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <button type="button" class="btn btn-primary" action-button action="left">Left</button>
      <button type="button" class="btn btn-primary" action-button action="right">Right</button>
      <button type="button" class="btn btn-primary" action-button action="move">Move</button>
    </div>
  </div>
</div>
<div class="form-inline">
  <div class="form-group row col-md-12">
    <textarea readonly class="form-control" ng-model="robot.report"></textarea>
    <button class="btn btn-primary" type="button" ng-click="getReport()">Report</button>
  </div>
</div>

